@model List<Model.Album>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>



<div class="section-wrapper">

    <div class="section-content">

        @foreach (var item in Model)
        {

            <a asp-controller="Album" asp-action="Details" asp-route-id="@item.Id">
                <div class="photobox photobox_type1">
                    <div class="photobox__previewbox">
                        <img src="@item.ImageUrl" class="photobox__preview" alt="Preview">
                        <span class="photobox__label">
                            <p>@item.Title</p>
                            <p class="artist-name">@item.Artist.FullName</p>
                        </span>

                    </div>
                </div>
            </a>
        }
    </div>

</div>


<div class="clear">
</div>






