@model Model.Album


<div class="form-group">
    <label class="control-label">Title</label>
    <input asp-for="Title" placeholder="" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="control-label">Rating</label>
    <input asp-for="Rating" placeholder="" class="form-control" />
</div>
<div class="form-group">
    <label class="control-label">Release date</label>
    
    <div class="input-group date" data-provide="datepicker"
         data-date-format="@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern.ToLower()">
        <input asp-for="ReleaseDate" placeholder="" type="text" class="form-control">
        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="control-label">Image url</label>
    <input asp-for="ImageUrl" placeholder="" class="form-control" />
    <span asp-validation-for="ImageUrl" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="control-label">Description</label>
    <input asp-for="Description" placeholder="" class="form-control" />
</div>


<div class="form-group">
    <label class="control-label">Artist</label>
    <select asp-for="ArtistId" placeholder="" asp-items="ViewBag.PossibleArtists" class="form-control"></select>
    <span asp-validation-for="ArtistId" class="text-danger"></span>
</div>

<div class="form-group">
    <label class="control-label">Genre</label>
    <select asp-for="GenreId" placeholder="" asp-items="ViewBag.PossibleGenres" class="form-control"></select>
    <span asp-validation-for="GenreId" class="text-danger"></span>
</div>


<div class="form-group save-btn">
    <input type="submit" value="Save" class="btn btn-default" />
</div>